body {
    color: #999;
}

[name="actions"]::before {
  content: "\270D"; /* Код символа без "U+" */
  margin-right: 5px; /* Отступ */
  font-size: 1em;
  color: #333;
  cursor: pointer; 
  pointer-events: all;
}

h1 {
  color: #333;
}

th, td {
  width: 20%;
  text-align: center;
  font-size: large;
}

.list {
  border: solid 2px;
  width: 50%;
  position: relative;
}

.add {
  position: absolute;
  top: -60px;
  right: 0px;
  font-size: x-large;
  color: #333;
  cursor: pointer;

}

.title {
  color: #333;
  font-size: large;
}

[name="actions"] {
  color: #333;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.7); /* Прозрачный фон */
  font-size: 30px;
  cursor: pointer;
  padding: 2px 2px;
}

.delete-button {
  position: absolute;
  top: 0px;
  right: 0px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.7); /* Прозрачный фон */
  border: 2px solid black;
  font-size: 20px;
  cursor: pointer;
  padding: 2px 2px;
  border-radius: 50%;
}

#myForm {
  display: none;
  /* display: block; */
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 20px;
  color: #333;
  width: 400px;
  position: absolute;
  top: 15%;
  left: 22%;
  z-index: 3;
  background-color: beige;
}

[type="button"], [type="text"] {
  border-radius: 10px;
  
  
}

[type="text"] {
  width: 80%;
  padding:  5px 10px;

}

[type="button"] {
  padding:  5px 10px;
  margin-left: 15%;
  width: 100px;
}

[type="text"]::placeholder {
  color: red;
}

.popover {
  background-color: antiquewhite;
  border-color: black;
  border-style: dashed;
  border-radius: 15px;
  position: absolute;
  width: 18%;
  height: 20%;
  color: red;
  font-style: italic;
  /* left: 3%; */
  top: 17%;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  z-index: 999;
  padding: 10px;
}



